<div class="data">
  <div class="action">{{{action}}}</div>
  <div class="footer">
    {{#projectName}}
    <h6 class="project">+{{projectName}}</h6>
    {{/projectName}}
    {{#context}}
    <h6 class="context">@{{context}}</h6>
    {{/context}}
  </div>
</div>
<div class="meta">
  <div class="number">
    <a class="btn btn-info disabled">{{number}}</a>
  </div>
  {{#priority}}
  <div class="priority">
    <a class="btn btn-success disabled">{{priority}}</a>
  </div>
  {{/priority}}
</div>