<div class="data">
  <div>
    <a class="btn btn-info btn-disabled">{{number}}</a>
  </div>
  {{#context}}
  <div class="context">@{{context}}</div>
  {{/context}}
</div>
<div class="right">
  <div class="action">{{{action}}}</div>
  {{#projectName}}
  <div class="project">
    <span>{{projectName}}</span>
  </div>
  {{/projectName}}
</div>
