<div class="data">
  <div class="number">{{number}}</div>
  {{#project}}
  <div class="project">{{project}}</div>
  {{/project}}
  {{#context}}
  <div class="context">{{context}}</div>
  {{/context}}
</div>
<div class="right">
  <div class="action">{{action}}</div>
</div>
