.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => "#"} Bulldog
      %ul.nav
        %li
          %a{:href => '#/todo'} To Do
      %ul.nav.pull-right
        %li
          %a{"data-toggle".to_sym => "modal", :href => "#about-modal"} About
.main
  %nav
  %section.tasks
