!!! 5
%html
  %head
    %title Bulldog | Todo.txt
    %script{:src => 'lib.js', :type => 'text/javascript'}
    %script{:src => 'app.js', :type => 'text/javascript'}
    -#%script
    :javascript
      (function($) {
        $(startApp);

        function startApp() {
          localStorage.clear();

          todoTxt.build(function(tasks){
            var app = new bulldog.Router(tasks);
            Backbone.history.start();
            app.navigate('/');
          });
        }
      }(jQuery));

    %link{:href => "bulldog.css", :rel => 'stylesheet', :type => 'text/css'}
  %body
    %nav.projects
    %section.tasks

