!!! 5
%html
  %head
    %title Bulldog | Todo.txt
    / Bulldog is an HTML view for Todo.txt (http://todotxt.com).
    / &copy; Infews LLC - MIT License - more at http://github.com/infews/bulldog
    = head
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "#"} Bulldog
          %ul.nav
            %li
              %a{"data-toggle".to_sym => "modal", :href => "#about-modal"} About
    .main
      %nav
      %section.tasks
    .modal#about-modal{:style => 'display:none;'}
      .modal-header
        %a.close{"data-dismiss".to_sym => "modal"} &times;
        %h3 Bulldog
        %h5 Todo.txt's best HTML friend
      .modal-body= about_box
      .modal-footer
        %h5 &copy; Infews LLC
        %h6.version
    = bottom