!!! 5
%html
  %head
    %title Bulldog | Todo.txt
    %link{:href => 'bootstrap.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'bulldog.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:src => 'lib.js', :type => 'text/javascript'}
    %script{:src => 'app.js', :type => 'text/javascript'}
    :javascript
      (function($) {
        $(document).ready(startApp);

        function startApp() {
          localStorage.clear();
          $('.modal-footer h6').text('v' + bulldog.version)
          todoTxt.build(function(tasks) {
            window.app = new bulldog.Router(tasks);
            Backbone.history.start();
            app.navigate('/');
          });
        }
      }(jQuery));
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "#"} Bulldog
          %ul.nav
            %li
              %a{"data-toggle".to_sym => "modal", :href => "#about-modal"} About
    .main
      %nav
      %section.tasks
    .modal#about-modal{:style => 'display:none;'}
      .modal-header
        %a.close{"data-dismiss".to_sym => "modal"} &times;
        %h3 Bulldog
        %h5 Todo.txt's best HTML friend

      .modal-body This will be some witty banter
      .modal-footer
        %h6