!!! 5
%html
  %head
    %title Bulldog | Todo.txt
    / Bulldog is an HTML view for Todo.txt (http://todotxt.com).
    / &copy; Infews LLC - MIT License - more at http://github.com/infews/bulldog
    %link{:href => 'http://fonts.googleapis.com/css?family=Lato:300,400,700',
          :rel => 'stylesheet',
          :type =>'text/css'}
    = head
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "#"} Bulldog
          %ul.nav
            %li
              %a{:href => '#/todo'} To Do
          %ul.nav.pull-right
            %li
              %a{"data-toggle".to_sym => "modal", :href => "#about-modal"} About
    .main
      %nav
      %section.tasks
    .modal#about-modal{:style => 'display:none;'}
      .modal-header
        %a.close{"data-dismiss".to_sym => "modal"} &times;
        %h3 Bulldog
        %h5 Todo.txt's best HTML friend
      .modal-body= about_box
      .modal-footer
        .two-column
          .column.full
            %h5 &copy; Infews LLC
            %h6.version
          .column
            %iframe{ :src => "http://markdotto.github.com/github-buttons/github-btn.html?user=infews&repo=bulldog&type=watch&count=true", :allowtransparency => "true", :frameborder => "0", :scrolling => "0", :width => "110px", :height => "20px" }
            %iframe{ :src => "http://markdotto.github.com/github-buttons/github-btn.html?user=infews&repo=bulldog&type=fork&count=true", :allowtransparency => "true", :frameborder => "0", :scrolling => "0", :width => "110px", :height => "20px" }
    = bottom