%link{:href => 'bootstrap.css', :rel => 'stylesheet', :type => 'text/css'}
%link{:href => 'bulldog.css', :rel => 'stylesheet', :type => 'text/css'}
%script{:src => 'lib.js', :type => 'text/javascript'}
%script{:src => 'app.js', :type => 'text/javascript'}
