@import "compass";
@import "compass/css3";

body {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  background-color: #a9a9a9;
}

a.brand {
  font-variant: small-caps;
}

.main {
  @include display-box;
  @include box-pack(start);
  @include box-orient(horizontal);
  @include box-align(stretch);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding-top: 40px;

  nav, section {
    @include display-box;
  }

  nav {
    .navigation {
      overflow: scroll;
      position: relative;
      padding: 8px;
      background-color: white;
    }
  }

  section {
    @include box-flex(1);

    &.tasks.projects {

      .task .footer .project {
        display: none;
      }

      &.all {
        .task .footer .project {
          display: inline;
        }
      }
    }

    &.tasks.contexts,
    &.tasks.next-actions {
      .task .footer .context {
        display: none;
      }
    }
  }
}

.roundy {
  padding: 8px;
  @include border-radius(4px);
  background-color: white;
}

.task-list {
  @include display-box;
  @include box-pack(start);
  @include box-orient(vertical);
  @include box-flex(1);
  @include box-align(stretch);
  overflow: auto;
  position: relative;
  padding: 8px;

  .task {
    @include display-box;
    @include box-orient(horizontal);
    @include box-pack(start);

    margin-bottom: 8px;

    &:last-child {
      margin: 0;
    }

    .action {
      @include display-box;
      @include box-orient(horizontal);
      @include box-pack(start);
      @include box-flex(1);
      padding: 0 12px 8px 0;
      font-size: 16px;
      line-height: 20px;
    }

    .data, .meta {
      @include display-box;
      @include box-orient(vertical);
    }

    .data {
      @include box-pack(start);
      @include box-flex(1);
    }

    .meta {
      @include box-align(center);

      div {
        @include display-box;
        @include box-orient(vertical);
        @include box-pack(start);
        @include box-align(center);
      }

      .number {
        margin-bottom: 8px;
      }
    }

    .footer {
      .context, .project {
        font-weight: 300;
        font-size: 12px;
        color: #999999;
        text-transform: uppercase;
      }
    }
  }
}