@import "compass";
@import "compass/reset";
@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  @include display-box;
  @include box-pack(start);
  @include box-orient(horizontal);
  padding-top: 44px;
      
  nav, section {
    @include display-box;
    @include box-pack(start);
  }

  nav {
    margin-left: 8px;
    margin-top: 4px;
  }

  section {
    @include box-flex(1);
    @include display-box;
    @include box-pack(start);
  }
}

.task-list {
  @include display-box;
  @include box-pack(start);
  @include box-orient(vertical);
  @include box-flex(1);

  .task {
    @include display-box;
    @include box-pack(start);

    div {
      padding: 4px;
    }

    .data, .right, .spacer {
      @include display-box;
      @include box-orient(vertical);
      @include box-pack(start);
    }

    .context {
      text-align: center;
    }

    .right {
      @include box-flex(1);

      .project {
        text-align: right;
        font-size: 10px;
        color: #6d6d6d;
      }
    }
  }
}