@import "compass";
@import "compass/reset";
@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  @include display-box;
  @include box-pack(start);
  @include box-orient(horizontal);
  padding-top: 40px;

  .navigation {
    margin-right: 8px;
  }

  nav, section {
    @include display-box;
    @include box-pack(start);
  }

  nav {
    margin-left: 8px;
    margin-top: 8px;
  }

  section {
    @include box-flex(1);
    @include display-box;
    @include box-pack(start);
  }
}

.task-list {
  @include display-box;
  @include box-pack(start);
  @include box-orient(vertical);
  @include box-flex(1);

  background-color: #a9a9a9;

  .task {
    @include display-box;
    @include box-orient(horizontal);
    @include box-pack(start);

    margin: 12px 12px 0;
    padding: 8px;
    border-radius: 8px;

    background-color: white;

    .action {
      @include display-box;
      @include box-orient(horizontal);
      @include box-pack(start);
      @include box-flex(1);
      padding: 0 12px 8px 0;
    }

    .data, .meta {
      @include display-box;
      @include box-orient(vertical);
    }

    .data {
      @include box-pack(start);
      @include box-flex(1);
    }

    .meta {
      @include box-align(center);

      div {
        @include display-box;
        @include box-orient(vertical);
        @include box-pack(start);
        @include box-align(center);
      }

      .number {
        margin-bottom: 8px;
      }
    }

    .footer {
      h6 {
        display: inline;
        font-size: 11px;
      }
    }
  }
}